name: GRES B2B Governance

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  governance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run GRES B2B Governance (Shadow)
        uses: ajranjith/b2b-governance-action@v1.2.0
        with:
          mode: shadow
          config: .gres/config.yml
          fail_on_red: false
          repo: ajranjith/b2b-governance-action
          version: v1.2.0
          token: ${{ secrets.GITHUB_TOKEN }}
